<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Page - myEShop</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/all.min.css" crossorigin="anonymous">
</head>
<body>

<!------------------------Navbar------------------------->
<div class="small-container">
  <div class="navbar">
    <div class="logo">
      <a href="/user/home"> <img src="/img/logo.webp" width="100px"></a>
    </div>
    <nav>
      <ul id="MenuItems">
        <li><a href="/user/home">Home</a></li>
        <li><a href="/products">Product</a></li>
        <li><a href="/user-information">Account</a></li>
      </ul>
      <a href="/cart"><img src="/img/cart_logo.png" width="30px" height="30px"></a>
      <img src="/img/menu-icon.png" class="menu-icon" onclick="menutoggle()">
    </nav>
  </div>
</div>


<!---------------------------- account-page ------------------------------->
<div class="account-page">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="/img/logo.webp" width="100%">
      </div>
      <div class="col-2">
        <div class="form-container">
          <div class="form-btn">
            <span onclick="login()">Login</span>
            <span onclick="register()">Register</span>
            <hr id="Indicator">
          </div>

          <form id="LoginForm" onsubmit="loginSubmit(); return false;">
            <input id="username" type="text" placeholder="E-Mail" required>
            <input id="password" type="password" placeholder="Password" required>
            <button type="submit" class="btn">Login</button>
          </form>

          <form id="RegForm" onsubmit="submitForm(); return false;">
            <input type="text" placeholder="First name" name="firstName" id="firstName" required>
            <input type="text" placeholder="Last name" name="lastName" id="lastName" required>
            <input type="text" placeholder="E-Mail" name="email" id="email" required>
            <input type="password" placeholder="Password" name="password" id="password" required>
            <button type="submit" class="btn">Register</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


<!---------------------------- footer ------------------------------->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Download Our App</h3>
        <p>Download App for Android and ios mobile phone.</p>
        <div class="app-logo">
          <img src="/img/getitGooglePlay.png">
          <img src="/img/Download%20on%20the%20AppStore.png">
        </div>
      </div>

      <div class="footer-col-2">
        <img src="/img/logo.webp">
        <p>Our purpose is to sustainably make the pleasure benefits of ...</p>
      </div>

      <div class="footer-col-3">
        <h3>Useful Links</h3>
        <ul>
          <li>Coupons</li>
          <li>Blog</li>
          <li>Return Policy</li>
          <li>Join Affiliate</li>
        </ul>
      </div>

      <div class="footer-col-4">
        <h3>Follow us</h3>
        <ul>
          <li>Tik Tok</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>YouTube</li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="copyright">Copyright 2024 - Gianluca Ghislotti</p>
  </div>
</div>

<script src="/js/account.js"></script>

</body>
</html>